@import './fonts.css';

@import "tailwindcss";

@import "@seangenabe/catppuccin-tailwindcss-v4/default-mocha.css";

@plugin "@tailwindcss/typography";

:root {
  --font-sans: 'Atkinson Hyperlegible Next', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Atkinson Hyperlegible Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
}

.typst-frame [fill="#000000"] {
  fill: var(--color-ctp-text);
}

.typst-frame [stroke="#000000"] {
  stroke: var(--color-ctp-text);
}

.prose span[style*="display: block"] {
  display: inline-block;
  margin: 1em 0;
}

.prose span[style*="display: block"] svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
